* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.Films {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}